---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/contest-type/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"144-+PWFTjTC1VK+1WGCkzpeSgvMT3U"
      Function-Execution-Id:
      - mjmcbhkebli1
      X-Cloud-Trace-Context:
      - 2fc327d7d773a9891172ad83c0d232b6
    body:
      encoding: ASCII-8BIT
      string: '{"berry_flavor":{"name":"spicy","url":"https://pokeapi.co/api/v2/berry-flavor/1/"},"id":1,"name":"cool","names":[{"color":"Red","language":{"name":"en","url":"https://pokeapi.co/api/v2/language/9/"},"name":"Cool"},{"color":"Rouge","language":{"name":"fr","url":"https://pokeapi.co/api/v2/language/5/"},"name":"Sang-froid"}]}'
  recorded_at: Sun, 28 Apr 2019 20:21:36 GMT
recorded_with: VCR 4.0.0
