---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/move-battle-style/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d5-KJ8iMMrIo1FUlmL47wdKXmZ5ToI"
      Function-Execution-Id:
      - hr0e40bm2kpc
      X-Cloud-Trace-Context:
      - 1ce962ce1163cfa15fa21695073c14e8;o=1
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"name":"attack","names":[{"language":{"name":"fr","url":"https://pokeapi.co/api/v2/language/5/"},"name":"Attaque"},{"language":{"name":"en","url":"https://pokeapi.co/api/v2/language/9/"},"name":"Attack"}]}'
  recorded_at: Sat, 27 Apr 2019 01:06:22 GMT
recorded_with: VCR 4.0.0
