---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/item-category/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2d7-41KMdcij+I5iL7LjUzGE/LLNW5Q"
      Function-Execution-Id:
      - h452k1k0dy1l
      X-Cloud-Trace-Context:
      - 8234ed7efc9287f8ee4aa45c94bda2ae
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"items":[{"name":"guard-spec","url":"https://pokeapi.co/api/v2/item/55/"},{"name":"dire-hit","url":"https://pokeapi.co/api/v2/item/56/"},{"name":"x-attack","url":"https://pokeapi.co/api/v2/item/57/"},{"name":"x-defense","url":"https://pokeapi.co/api/v2/item/58/"},{"name":"x-speed","url":"https://pokeapi.co/api/v2/item/59/"},{"name":"x-accuracy","url":"https://pokeapi.co/api/v2/item/60/"},{"name":"x-sp-atk","url":"https://pokeapi.co/api/v2/item/61/"},{"name":"x-sp-def","url":"https://pokeapi.co/api/v2/item/62/"}],"name":"stat-boosts","names":[{"language":{"name":"en","url":"https://pokeapi.co/api/v2/language/9/"},"name":"Stat
        boosts"}],"pocket":{"name":"battle","url":"https://pokeapi.co/api/v2/item-pocket/7/"}}'
  recorded_at: Sun, 14 Apr 2019 22:31:26 GMT
recorded_with: VCR 4.0.0
