---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/characteristic/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"163-B+4C3u3dcYKgDIWCrDkgN9N3qho"
      Function-Execution-Id:
      - olrg7oxbrsc9
      X-Cloud-Trace-Context:
      - d85a80acdb76da62cf69bc810e9acfbd;o=1
    body:
      encoding: ASCII-8BIT
      string: '{"descriptions":[{"description":"Adore manger","language":{"name":"fr","url":"https://pokeapi.co/api/v2/language/5/"}},{"description":"Loves
        to eat","language":{"name":"en","url":"https://pokeapi.co/api/v2/language/9/"}}],"gene_modulo":0,"highest_stat":{"name":"hp","url":"https://pokeapi.co/api/v2/stat/1/"},"id":1,"possible_values":[0,5,10,15,20,25,30]}'
  recorded_at: Sat, 27 Apr 2019 19:51:42 GMT
recorded_with: VCR 4.0.0
