---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/location/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"200-gzCsufjv/1D8HbCd35mGk7jj/Dc"
      Function-Execution-Id:
      - jdrxxe08mpo3
      X-Cloud-Trace-Context:
      - 0742ef746da4e177ecf24e768459aa7a;o=1
    body:
      encoding: ASCII-8BIT
      string: '{"areas":[{"name":"canalave-city-area","url":"https://pokeapi.co/api/v2/location-area/1/"}],"game_indices":[{"game_index":7,"generation":{"name":"generation-iv","url":"https://pokeapi.co/api/v2/generation/4/"}}],"id":1,"name":"canalave-city","names":[{"language":{"name":"en","url":"https://pokeapi.co/api/v2/language/9/"},"name":"Canalave
        City"},{"language":{"name":"fr","url":"https://pokeapi.co/api/v2/language/5/"},"name":"Joliberges"}],"region":{"name":"sinnoh","url":"https://pokeapi.co/api/v2/region/4/"}}'
  recorded_at: Wed, 27 Mar 2019 17:38:22 GMT
recorded_with: VCR 4.0.0
