---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon-habitat/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"93f-iXb+pntN7G8ha+m1a5/JaCkWX9c"
      Function-Execution-Id:
      - 6k2ipo0rpgt8
      X-Cloud-Trace-Context:
      - 2a74ff1d592291a4fbc61593dba542e9
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"name":"cave","names":[{"language":{"name":"fr","url":"https://pokeapi.co/api/v2/language/5/"},"name":"grottes"},{"language":{"name":"en","url":"https://pokeapi.co/api/v2/language/9/"},"name":"cave"}],"pokemon_species":[{"name":"zubat","url":"https://pokeapi.co/api/v2/pokemon-species/41/"},{"name":"diglett","url":"https://pokeapi.co/api/v2/pokemon-species/50/"},{"name":"golbat","url":"https://pokeapi.co/api/v2/pokemon-species/42/"},{"name":"dugtrio","url":"https://pokeapi.co/api/v2/pokemon-species/51/"},{"name":"gastly","url":"https://pokeapi.co/api/v2/pokemon-species/92/"},{"name":"onix","url":"https://pokeapi.co/api/v2/pokemon-species/95/"},{"name":"haunter","url":"https://pokeapi.co/api/v2/pokemon-species/9[...]
