---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/growth-rate/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"41df-TVRNKQoi4ylu3raxfvNbcCHlBR4"
      Function-Execution-Id:
      - j3gu6djco2ji
      X-Cloud-Trace-Context:
      - fda8c39e0ba2c1dd43d5aa0c70974765;o=1
    body:
      encoding: ASCII-8BIT
      string: '{"descriptions":[{"description":"slow","language":{"name":"en","url":"https://pokeapi.co/api/v2/language/9/"}},{"description":"langsam","language":{"name":"de","url":"https://pokeapi.co/api/v2/language/6/"}},{"description":"lente","language":{"name":"fr","url":"https://pokeapi.co/api/v2/language/5/"}}],"formula":"\\frac{5x^3}{4}","id":1,"levels":[{"experience":1250000,"level":100},{"experience":1212873,"level":99},{"experience":1176490,"level":98},{"experience":1140841,"level":97},{"experience":1105920,"level":96},{"experience":1071718,"level":95},{"experience":1038230,"level":94},{"experience":1005446,"level":93},{"experience":973360,"level":92},{"experience":941963,"level":91},{"experience":911250,"level":90},{"experience":881211,"level":89},{"experience":851840,"level":88},{"experience":823128,"level":87},{"experience":795070,"level":86},{"experience":767656,"leve[...]
