---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/item-fling-effect/badly-poison
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ea-Pm5sGotofaXpi7u8NZAAH+dfGnQ"
      Function-Execution-Id:
      - bqprfl89ucl8
      X-Cloud-Trace-Context:
      - 847fe9052917780948949eb1a6d05d0e;o=1
    body:
      encoding: ASCII-8BIT
      string: '{"effect_entries":[{"effect":"Badly poisons the target.","language":{"name":"en","url":"https://pokeapi.co/api/v2/language/9/"}}],"id":1,"items":[{"name":"toxic-orb","url":"https://pokeapi.co/api/v2/item/249/"}],"name":"badly-poison"}'
  recorded_at: Sun, 14 Apr 2019 19:52:41 GMT
recorded_with: VCR 4.0.0
