---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/item-attribute/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"12d6-FG0nTu5BOTF9K+Sh8IgrRlFA7eE"
      Function-Execution-Id:
      - cffrof0kyqyo
      X-Cloud-Trace-Context:
      - a46e527345035bd3cfdbc26a53f56e19;o=1
    body:
      encoding: ASCII-8BIT
      string: '{"descriptions":[{"description":"Has a count in the bag","language":{"name":"en","url":"https://pokeapi.co/api/v2/language/9/"}}],"id":1,"items":[{"name":"master-ball","url":"https://pokeapi.co/api/v2/item/1/"},{"name":"ultra-ball","url":"https://pokeapi.co/api/v2/item/2/"},{"name":"great-ball","url":"https://pokeapi.co/api/v2/item/3/"},{"name":"poke-ball","url":"https://pokeapi.co/api/v2/item/4/"},{"name":"safari-ball","url":"https://pokeapi.co/api/v2/item/5/"},{"name":"net-ball","url":"https://pokeapi.co/api/v2/item/6/"},{"name":"dive-ball","url":"https://pokeapi.co/api/v2/item/7/"},{"name":"nest-ball","url":"https://pokeapi.co/api/v2/[...]
