---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/machine/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e9-frFgXAvehNw8qam4PfS286AJ1y0"
      Function-Execution-Id:
      - xu4u5z8d52o1
      X-Cloud-Trace-Context:
      - 0ec66b4b8a66a1d61fd8bef6ec132b25;o=1
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"item":{"name":"tm01","url":"https://pokeapi.co/api/v2/item/305/"},"move":{"name":"mega-punch","url":"https://pokeapi.co/api/v2/move/5/"},"version_group":{"name":"red-blue","url":"https://pokeapi.co/api/v2/version-group/1/"}}'
  recorded_at: Sun, 14 Apr 2019 19:08:02 GMT
recorded_with: VCR 4.0.0
