---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/version-group/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"29a-gDmr8auGTz0fW6TIHoxQt4z/IpU"
      Function-Execution-Id:
      - pjomsh5pga07
      X-Cloud-Trace-Context:
      - ceadd965c94a5efcd66fe92d9660d10c;o=1
    body:
      encoding: ASCII-8BIT
      string: '{"generation":{"name":"generation-i","url":"https://pokeapi.co/api/v2/generation/1/"},"id":1,"move_learn_methods":[{"name":"level-up","url":"https://pokeapi.co/api/v2/move-learn-method/1/"},{"name":"machine","url":"https://pokeapi.co/api/v2/move-learn-method/4/"},{"name":"stadium-surfing-pikachu","url":"https://pokeapi.co/api/v2/move-learn-method/5/"}],"name":"red-blue","order":1,"pokedexes":[{"name":"kanto","url":"https://pokeapi.co/api/v2/pokedex/2/"}],"regions":[{"name":"kanto","url":"https://pokeapi.co/api/v2/region/1/"}],"versions":[{"name":"red","url":"https://pokeapi.co/api/v2/version/1/"},{"name":"blue","url":"https://pokeapi.co/api/v2/version/2/"}]}'
  recorded_at: Sun, 24 Mar 2019 23:53:46 GMT
recorded_with: VCR 4.0.0
