---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/contest-effect/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"147-HnELcj5ZImBUAy2npNQQg6IYLOA"
      Function-Execution-Id:
      - df2eafvnrhek
      X-Cloud-Trace-Context:
      - b1ee6345780c35d259b51add158e22ee;o=1
    body:
      encoding: ASCII-8BIT
      string: '{"appeal":4,"effect_entries":[{"effect":"Gives a high number of appeal
        points wth no other effects.","language":{"name":"en","url":"https://pokeapi.co/api/v2/language/9/"}}],"flavor_text_entries":[{"flavor_text":"A
        highly appealing move.","language":{"name":"en","url":"https://pokeapi.co/api/v2/language/9/"}}],"id":1,"jam":0}'
  recorded_at: Sun, 28 Apr 2019 19:46:11 GMT
recorded_with: VCR 4.0.0
