---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/oddish
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"26e62-ntwbjzX034cIxQlnfVeR3FDUiYo"
      Function-Execution-Id:
      - bsu590ix3oyv
      X-Cloud-Trace-Context:
      - d64585150d39536a54a03ea3567a82d4;o=1
    body:
      encoding: ASCII-8BIT
      string: '{"abilities":[{"ability":{"name":"run-away","url":"https://pokeapi.co/api/v2/ability/50/"},"is_hidden":true,"slot":3},{"ability":{"name":"chlorophyll","url":"https://pokeapi.co/api/v2/ability/34/"},"is_hidden":false,"slot":1}],"base_experience":64,"forms":[{"name":"oddish","url":"https://pokeapi.co/api/v2/pokemon-form/43/"}],"game_indices":[{"game_index":43,"version":{"name":"white-2","url":"https://pokeapi.co/api/v2/version/22/"}},{"game_index":43,"version":{"name":"black-2","url":"https://pokeapi.co/api/v2/version/21/"}},{"game_index":43,"version":{"name":"white","url":"https://pokeapi.co/api/v2/version/18/"}},{"game_index":43,"version":{"name":"black","url":"https://pokeapi.co/api/v2/version/17/"}},{"game_index":43,"version":{"name":"soulsilver","url":"https://pokeapi.co/api/v2/version/16/"}},{"game_index":43,"version":{"name":"heartgold","url":"https://p[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon-species/43/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4f81-ZYK7mC3kcG8wjvGdq2ccwc3drcA"
      Function-Execution-Id:
      - jcd60xnj79ee
      X-Cloud-Trace-Context:
      - df19220df9f8c0e557a6234bca019319
    body:
      encoding: ASCII-8BIT
      st[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/evolution-chain/18/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7ca-3ZE5EEaBA/qRdbR+akwi6ovh8QA"
      Function-Execution-Id:
      - iqx7d1tc3dmb
      X-Cloud-Trace-Context:
      - 69f1e0e969af85eb3255213a32bb45c1;o=1
    body:
      encoding: ASCII-8BIT
      string: '{"baby_trigger_item":null,"chain":{"evolution_details":[],"evolves_to":[{"evolution_details":[{"gender":null,"held_item":null,"item":null,"known_move":null,"known_move_type":null,"location":null,"min_affection":null,"min_beauty":null,"min_happiness":null,"min_level":21,"needs_overworld_rain":false,"party_species":null,"party_type":null,"relative_physical_stats":null,"time_of_day":"","trade_species":null,"trigger":{"name":"level-up","url":"https://pokeapi.co/api/v2/evolution-trigger/1/"},"turn_upside_down":false}],"evolves_to":[{"evolution_details":[{"gender":null,"held_item":null,"item":{"name":"leaf-stone","url":"https://pokeapi.co/api/v2/item/85/"},"known_move":null,"known_move_type":null,"location":null,"min_affection":null,"min_beauty":null,"min_happiness":null,"min_level":null,"needs_overworld_rain":false,"party_species":null,"party_type":null,"relative_physical_stats":null,"time_of_day":"","trade_species":null,"trigger":{"name":"use-item","url":"https://pokeapi.co/api/v2/evolution-trigger/3/"},"turn_upside_down":false}],"evolves_to":[],"is_baby":false,"species":{"name":"vileplume","url":"https://pokeapi.co/api/v2/pokemon-species/45/"}},{"evolution_details":[{"gender":null,"held_item":null,"item":{"name":"sun-stone","url":"https://pokeapi.co/api/v2/item/80/"},"known_move":null,"known_move_type":null,"location":null,"min_affection":null,"min_beauty":null,"min_happiness":null,"min_level":null,"needs_overworld_rain":false,"party_species":null,"party_type":null,"relative_physical_stats":null,"time_of_day":"","trade_species":null,"trigger":{"name":"use-item","url":"https://pokeapi.co/api/v2/evolution-trigger/3/"},"turn_upside_down":false}],"evolves_to":[],"is_baby":false,"species":{"name":"bellossom","url":"https://pokeapi.co/api/v2/pokemon-species/182/"}}],"is_baby":false,"species":{"name":"gloom","url":"https://pokeapi.co/api/v2/pokemon-species/44/"}}],"is_baby":false,"species":{"name":"oddish","url":"https://pokeapi.co/api/v2/pokemon-species/43/"}},"id":18}'
  recorded_at: Sat, 04 May 2019 20:23:13 GMT
[...]
