---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/ability/?limit=10&offset=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"344-FfmV63q3yAXksmoDe6Hn11LxxQY"
      Function-Execution-Id:
      - 44fzc3ig9xy5
      X-Cloud-Trace-Context:
      - a6cd06b49ce8a602932b1bece3da338f;o=1
    body:
      encoding: ASCII-8BIT
      string: '{"count":293,"next":"https://pokeapi.co/api/v2/ability/?offset=20&limit=10","previous":"https://pokeapi.co/api/v2/ability/?offset=0&limit=10","results":[{"name":"water-absorb","url":"https://pokeapi.co/api/v2/ability/11/"},{"name":"oblivious","url":"https://pokeapi.co/api/v2/ability/12/"},{"name":"cloud-nine","url":"https://pokeapi.co/api/v2/ability/13/"},{"name":"compound-eyes","url":"https://pokeapi.co/api/v2/ability/14/"},{"name":"insomnia","url":"https://pokeapi.co/api/v2/ability/15/"},{"name":"color-change","url":"https://pokeapi.co/api/v2/ability/16/"},{"name":"immunity","url":"https://pokeapi.co/api/v2/ability/17/"},{"name":"flash-fire","url":"https://pokeapi.co/api/v2/ability/18/"},{"name":"shield-dust","url":"https://pokeapi.co/api/v2/ability/19/"},{"name":"own-tempo","url":"https://pokeapi.co/api/v2/ability/20/"}]}'
  recorded_at: Sat, 04 May 2019 04:32:23 GMT
recorded_with: VCR 4.0.0
