---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/ability/?limit=50&offset=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"df1-t5Z6DGzOi650K69jSJo/n0rPD1Y"
      Function-Execution-Id:
      - o05al4omiyvo
      X-Cloud-Trace-Context:
      - bb31bfeefca0d6377a36b16953d828e6;o=1
    body:
      encoding: ASCII-8BIT
      string: '{"count":293,"next":"https://pokeapi.co/api/v2/ability/?offset=150&limit=50","previous":"https://pokeapi.co/api/v2/ability/?offset=50&limit=50","results":[{"name":"technician","url":"https://pokeapi.co/api/v2/ability/101/"},{"name":"leaf-guard","url":"https://pokeapi.co/api/v2/ability/102/"},{"name":"klutz","url":"https://pokeapi.co/api/v2/ability/103/"},{"name":"mold-breaker","url":"https://pokeapi.co/api/v2/ability/104/"},{"name":"super-luck","url":"https://pokeapi.co/api/v2/ability/105/"},{"name":"aftermath","url":"https://pokeapi.co/api/v2/ability/106/"},{"name":"anticipation","url":"https://pokeapi.co/api/v2/ability/107/"},{"name":"forewarn","url":"https://pokeapi.co/a[...]
