---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/move-category/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"88c-tZ85lkMJCB89ai//91faV5Hvcws"
      Function-Execution-Id:
      - m25ij60uhga1
      X-Cloud-Trace-Context:
      - 43aea835c6caa140fdfa3ff4b71bdb40
    body:
      encoding: ASCII-8BIT
      string: '{"descriptions":[{"description":"No damage; inflicts status ailment","language":{"name":"en","url":"https://pokeapi.co/api/v2/language/9/"}}],"id":1,"moves":[{"name":"sing","url":"https://pokeapi.co/api/v2/move/47/"},{"name":"supersonic","url":"https://pokeapi.co/api/v2/move/48/"},{"name":"leech-seed","url":"https://pokeapi.co/api/v2/move/73/"},{"name":"poison-powder","url":"https://pokeapi.co/api/v2/move/77/"},{"name":"stun-spore","url":"https://pokeapi.co/api/v2/move/78/"},{"name":"sleep-powder","url":"https://pokeapi.co/api/v2/move/79/"},{"name":"thunder-wave","url":"https://pokeapi.co/api/v2/move/86/"},{"name":"toxic","url":"https://pokeapi.co/a[...]
