---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/gender/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"115a9-fQD+/OZGoaRqoUTODKWIFFMxXvc"
      Function-Execution-Id:
      - k3lro80elslc
      X-Cloud-Trace-Context:
      - d2f3080dea304de11a2f4e0c0b337236
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"name":"female","pokemon_species_details":[{"pokemon_species":{"name":"bulbasaur","url":"https://pokeapi.co/api/v2/pokemon-species/1/"},"rate":1},{"pokemon_species":{"name":"charmander","url":"https://pokeapi.co/api/v2/pokemon-species/4/"},"rate":1},{"pokemon_species":{"name":"squirtle","url":"https://pokeapi.co/api/v2/pokemon-species/7/"},"rate":1},{"pokemon_species":{"name":"caterpie","url":"https://pokeapi.co/api/v2/pokemon-species/10/"},"rate":4},{"pokemon_species":{"name":"weedle","url":"https://pokeapi.co/api/v2/pokemon-species/13/"},"rate":4},{"pokemon_species":{"name":"pidgey","url":"https://pokeapi.co/api/v2/pokemon-species/16[...]
