---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/location-area/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"39bc-yWpaVQg3zc2pv7FZN7jqBscSv/0"
      Function-Execution-Id:
      - cs481bpdn3og
      X-Cloud-Trace-Context:
      - f9fc9f539dab750067b4e8a394b45e64;o=1
    body:
      encoding: ASCII-8BIT
      string: '{"encounter_method_rates":[{"encounter_method":{"name":"old-rod","url":"https://pokeapi.co/api/v2/encounter-method/2/"},"version_details":[{"rate":25,"version":{"name":"platinum","url":"https://pokeapi.co/api/v2/version/14/"}},{"rate":25,"version":{"name":"pearl","url":"https://pokeapi.co/api/v2/version/13/"}},{"rate":25,"version":{"name":"diamond","url":"https://pokeapi.co/api/v2/version/12/"}}]},{"encounter_method":{"name":"good-rod","url":"https://pokeapi.co/api/v2/encounter-method/3/"},"version_details":[{"rate":50,"version":{"name":"platinum","url":"https://pokeapi.co/api/v2/version/14/"}},{"rate":50,"version":{"name":"pearl","url":"https://pokeapi.co/api/v2/version/13/"}},{"rate":50,"version":{"name":"diamond","url":"https://pokeapi.co/api/v2/version/12/"}}]},{"encounter_method":{"name":"super-rod","url":"https://pokeapi.co/api/v2/encounter-method/4/"},"version_details":[{"rate":75,"version":{"name":"platinum","url":"https://pokeapi.co/api/v2/version/14/"}},{"rate":75,"version":{"name":"pearl","url":"https://pokeapi.co/api/v2/version/13/"}},{"rate":75,"version":{"name":"diamond","url":"https://pokeapi.co/api/v2/version/12/"}}]},{"encounter_method":{"name":"surf","url":"https://pokeapi.co/api/v2/encounter-method/5/"},"version_details":[{"rate":10,"version":{"name":"platinum","url":"https://pokeapi.co/api/v2/version/14/"}},{"rate":10,"version":{"name":"pearl","url":"https://pokeapi.co/api/v2/version/13/"}},{"rate":10,"version":{"name":"diamond","url":"https://pokeapi.co/api/v2/version/12/"}}]}],"game_index":1,"id":1,"location":{"name":"canalave-city","url":"https://pokeapi.co/api/v2/location/1/"},"name":"canalave-city-area","names":[{"language":{"name":"en","url":"https://pokeapi.co/api/v2/language/9/"},"name":""}],"pokemon_encounters":[{"pokemon":{"name":"tentacool","url":"https://pokeapi.co/api/v2/pokemon/72/"},"version_details":[{"encounter_details":[{"chance":60,"condition_values":[],"max_level":30,"method":{"name":"surf","url":"https://pokeapi.co/api/v2/encounter-method/5/"},"min_level":20}],"max_chance":60,"version":{"name":"diamond","url":"https://pokeapi.co/api/v2/version/12/"}},{"encounter_details":[{"chance":60,"condition_values":[],"max_level":30,"method":{"name":"surf","url":"https://pokeapi.co/api/v2/encounter-method/5/"},"min_level":20}],"max_chance":60,"version":{"name":"pearl","url":"https://pokeapi.co/api/v2/version/13/"}},{"encounter_details":[{"chance":60,"condition_values":[],"max_level":30,"method":{"name":"surf","url":"https://pokeapi.co/api/v2/encounter-method/5/"},"min_level":[...]
