---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/evolution-chain/100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"329-FqKtNK/GzqEXD+zqUtFhYiF3LDs"
      Function-Execution-Id:
      - aim5hwzayd50
      X-Cloud-Trace-Context:
      - b728594cc59579cf7cad31ca9ec934b3
    body:
      encoding: ASCII-8BIT
      string: '{"baby_trigger_item":{"name":"lax-incense","url":"https://pokeapi.co/api/v2/item/232/"},"chain":{"evolution_details":[],"evolves_to":[{"evolution_details":[{"gender":null,"held_item":null,"item":null,"known_move":null,"known_move_type":null,"location":null,"min_affection":null,"min_beauty":null,"min_happiness":null,"min_level":15,"needs_overworld_rain":false,"party_species":null,"party_type":null,"relative_physical_stats":null,"time_of_day":"","trade_species":null,"trigger":{"name":"level-up","url":"https://pokeapi.co/api/v2/evolution-trigger/1/"},"turn_upside_down":false}],"evolves_to":[],"is_baby":false,"species":{"name":"wobbuffet","url":"https://pokeapi.co/api/v2/pokemon-species/202/"}}],"is_baby":true,"species":{"name":"wynaut","url":"https://pokeapi.co/api/v2/pokemon-species/360/"}},"id":100}'
  recorded_at: Sat, 20 Apr 2019 22:18:23 GMT
recorded_with: VCR 4.0.0
