---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/encounter-condition/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1de-2x4Ra3HNdeQbJyfg5Z2Ef8Puoj4"
      Function-Execution-Id:
      - kvi090gb0pdz
      X-Cloud-Trace-Context:
      - 6e6099cec9ad430b64afb21af200ea43;o=1
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"name":"swarm","names":[{"language":{"name":"fr","url":"https://pokeapi.co/api/v2/language/5/"},"name":"Essaim"},{"language":{"name":"de","url":"https://pokeapi.co/api/v2/language/6/"},"name":"Schwarm"},{"language":{"name":"en","url":"https://pokeapi.co/api/v2/language/9/"},"name":"Swarm"}],"values":[{"name":"swarm-yes","url":"https://pokeapi.co/api/v2/encounter-condition-value/1/"},{"name":"swarm-no","url":"https://pokeapi.co/api/v2/encounter-condition-value/2/"}]}'
  recorded_at: Tue, 09 Apr 2019 22:59:50 GMT
recorded_with: VCR 4.0.0
