---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/golem
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"31c30-IT4L2oOc0S3QKInebdFPxZ89h8E"
      Function-Execution-Id:
      - 0sjzkl4c1yiu
      X-Cloud-Trace-Context:
      - 39396967c22aac20e3ac3ad5d9aeab98;o=1
    body:
      encoding: ASCII-8BIT
      string: '{"abilities":[{"ability":{"name":"sand-veil","url":"https://pokeapi.co/api/v2/ability/8/"},"is_hidden":true,"slot":3},{"ability":{"name":"sturdy","url":"https://pokeapi.co/api/v2/ability/5/"},"is_hidden":false,"slot":2},{"ability":{"name":"rock-head","url":"https://pokeapi.co/api/v2/ability/69/"},"is_hidden":false,"slot":1}],"base_experience":223,"forms":[{"name":"golem","url":"https://pokeapi.co/api/v2/pokemon-form/76/"}],"game_indices":[{"game_index":76,"version":{"name":"white-2","url":"https://pokeapi.co/api/v2/version/22/"}},{"game_index":76,"version":{"name":"black-2","url":"https://pokeapi.co/api/v2/version/21/"}},{"game_index":76,"version":{"name":"white","url":"https://pokeapi.co/api/v2/version/18/"}},{"game_index":76,"version":{"name":"black","url":"https://pokeapi.co/api/v2/version/17/"}},{"game_index":76,"version":{"name":"soulsilver","url":"https://pokeapi.co/api/v2/version/16/"}},{"game_index":76,"version":{"name":"heartgold","url":"https://p[...]
