---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/move-ailment/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"646-aN+8m+7q4DqgxAYT1bnDlWlnm6U"
      Function-Execution-Id:
      - rp0jkp8d6ffj
      X-Cloud-Trace-Context:
      - 5ab00c1ff8fe2e3c8d77d15819b7afb7
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"moves":[{"name":"thunder-punch","url":"https://pokeapi.co/api/v2/move/9/"},{"name":"body-slam","url":"https://pokeapi.co/api/v2/move/34/"},{"name":"stun-spore","url":"https://pokeapi.co/api/v2/move/78/"},{"name":"thunder-shock","url":"https://pokeapi.co/api/v2/move/84/"},{"name":"thunderbolt","url":"https://pokeapi.co/api/v2/move/85/"},{"name":"thunder-wave","url":"https://pokeapi.co/api/v2/move/86/"},{"name":"thunder","url":"https://pokeapi.co/api/v2/move/87/"},{"name":"lick","url":"https://pokeapi.co/api/v2/move/122/"},{"name":"glare","url":"https://pokeapi.co/api/v2/move/137/"},{"name":"zap-cannon","url":"https://pokeapi.co/api/v2/move/192/"},{"name":"spark","url":"https://pokeapi.co/api/v2/move/209/"},{"name":"dragon-breath","url":"https://pokeapi.co/api/v2/move/225/"},{"name":"bounce","url":"https://pokeapi.co/api/v2/move/340/"},{"name":"volt-tackle","url":"https://pokeapi.co/api/v2/move/344/"},{"name":"force-palm","url":"https://pokeapi.co/api/v2/move/395/"},{"name":"thunder-fang","url":"https://pokeapi.co/api/v2/move/422/"},{"name":"discharge","url":"https://pokeapi.co/api/v2/move/435/"},{"name":"bolt-strike","url":"https://pokeapi.co/api/v2/move/550/"},{"name":"freeze-shock","url":"https://pokeapi.co/api/v2/move/553/"},{"name":"nuzzle","url":"https://pokeapi.co/api/v2/move/609/"},{"name":"stoked-sparksurfer","url":"https://pokeapi.co/api/v2/move/700/"}],"name":"paralysis","names":[{"language":{"name":"fr","url":"https://pokeapi.co/api/v2/language/5/"},"name":"Paralysie"},{"language":{"name":"en","url":"https://pokeapi.co/api/v2/language/9/"},"name":"Paralysis"}]}'
  recorded_at: Sat, 27 Apr 2019 20:30:43 GMT
recorded_with: VCR 4.0.0
